
.registration-page {
  background-color: #f0f0f0; 
  padding: 20px; 
}

.blue-icon {
  color: blue;
}


.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  margin-right: 10px;
}


.input-container {
  display: flex;
  align-items: center;
  padding: 10px 0; 
}

.search-box {
  margin-left: 10px;
}

.blue-text {
  color: blue;
}

.blue-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
}

.registration-heading {
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.registration-container {
  position: relative;
}

.tournament-form-container {
  padding-top: 20px; 
}

.form-group {
  margin-bottom: 20px;
}

.save-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-textfield {
  color: black;
}